/* body {
  font-family: var(--main-font-family);
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
.heading {
  font-family: var(--heading-font-family);
  font-weight: normal;
  text-align: center;
  font-optical-sizing: auto;
}

h5,
h6 {
  font-family: var(--main-font-family);
  font-weight: var(--subheading-weight);
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  white-space: pre-wrap;
  color: var(--desc-color);
}

a {
  text-decoration: none;
}

.award-text {
  color: var(--award-color);
}

.length,
.nav-link,
title,
:is(h1, h2, h3, h4, h5, h6),
a {
  color: var(--heading-color);
}

.readtime,
.challengeTitle,
a:hover,
.nav-link:hover,
.navbar-nav .nav-link.router-link-exact-active {
  color: var(--accent-color);
} */
