* {
  box-sizing: border-box;
}

section {
  padding: var(--padding-y) var(--padding-x);
}

.section-inverted {
  padding: var(--padding-y-fluid) var(--padding-x-fluid);
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  flex-shrink: 0;
}

.vl {
  border-left: 1px solid var(--outline-muted);
  height: 200px;
  width: 0;
  padding: 0;
  margin: 0 16px;
  opacity: 0.4;
}

.logo-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  border: 1px solid var(--outline-muted);
  background-color: var(--container-tertiary);
  border-radius: var(--border-radius-4);
  padding: var(--space-md);
  width: clamp(48px, 20vw, 104px);
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  opacity: 0.6;
  transition:
    opacity 0.3s ease,
    border-color 0.3s ease;
}

.logo:hover {
  opacity: 1;
}

.tooltip-text {
  position: absolute;
  bottom: -25px;
  background-color: var(--container-tertiary);
  color: var(--text-inverted);
  font-size: 0.7rem;
  padding: 2px 8px;
  border: 1px solid var(--outline-muted);
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-in-out;
}

.logo-wrapper:hover .tooltip-text {
  opacity: 1;
}

.logo-wrapper:hover .logo {
  opacity: 1;
  transform: translateY(-2px);
  transition: all 0.2s ease;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
