:root {
  /* Fonts */
  --font-unbounded: 'Unbounded';
  --font-inter: 'Inter';

  /* Sizes */
  --size-4: 0.25rem;
  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --size-80: 5rem;
  --size-round: 999px;

  /* Border Sizes in px */
  --border-radius-4: 4px;

  /* Absolute Colors */
  --white: #ffffff;
  --black: #000000;

  /* Surface (Background) Colors */
  --neutral-50: #f6f5f5;
  --neutral-100: #e9e4e4;
  --neutral-200: #d5cdcc;
  --neutral-300: #b7aba9;
  --neutral-400: #92817e;
  --neutral-500: #786762;
  --neutral-600: #665954;
  --neutral-700: #564c48;
  --neutral-800: #1a1716;
  --neutral-900: #0f0e0d;
  --neutral-950: #0a0908;

  /* Text & Other Colors */
  --color-gray-light-50: #f6f5f5;
  --color-gray-light-100: #e8e5e5;
  --color-gray-light-200: #d4cfcd;
  --color-gray-light-300: #b6adaa;
  --color-gray-light-400: #908480;
  --color-gray-light-500: #756965;
  --color-gray-light-600: #645b56;
  --color-gray-light-700: #544d4a;
  --color-gray-light-800: #494441;
  --color-gray-light-900: #2b2826;
  --color-gray-light-950: #0f0e0d;

  --color-gray-dark-50: #f7f6f5;
  --color-gray-dark-100: #eceae8;
  --color-gray-dark-200: #dedad6;
  --color-gray-dark-300: #c0b8b1;
  --color-gray-dark-400: #a69991;
  --color-gray-dark-500: #94847b;
  --color-gray-dark-600: #87766f;
  --color-gray-dark-700: #71625d;
  --color-gray-dark-800: #5e514e;
  --color-gray-dark-900: #4d4441;
  --color-gray-dark-950: #282322;

  --color-green-light-50: #effaf4;
  --color-green-light-100: #d8f3e2;
  --color-green-light-200: #b4e6c9;
  --color-green-light-300: #82d3a9;
  --color-green-light-400: #4fb884;
  --color-green-light-500: #2d9c69;
  --color-green-light-600: #1c774f;
  --color-green-light-700: #186445;
  --color-green-light-800: #155037;
  --color-green-light-900: #0a2a1c;

  --color-green-dark-50: #effaf4;
  --color-green-dark-100: #d8f3e2;
  --color-green-dark-200: #b4e6c9;
  --color-green-dark-300: #82d3a9;
  --color-green-dark-400: #4fb884;
  --color-green-dark-500: #2ab075;
  --color-green-dark-600: #1c774f;
  --color-green-dark-700: #208458;
  --color-green-dark-800: #155037;
  --color-green-dark-900: #0f3e29;

  --color-orange-light-100: #f6eae6;
  --color-orange-light-500: #a82a04;
  --color-orange-light-700: #7e2003;
  --color-orange-light-900: #3b0f01;

  --color-orange-dark-100: #fdeee6;
  --color-orange-dark-500: #ef5908;
  --color-orange-dark-700: #b34306;
  --color-orange-dark-900: #541f03;

  --color-red-light-50: #fff1f3;
  --color-red-light-100: #ffe0e4;
  --color-red-light-200: #ffc6cd;
  --color-red-light-300: #ff9ea9;
  --color-red-light-400: #ff6678;
  --color-red-light-500: #fd364d;
  --color-red-light-600: #eb1730;
  --color-red-light-700: #d31027;
  --color-red-light-800: #a31122;
  --color-red-light-900: #871522;
  --color-red-light-950: #4a050d;

  --color-red-dark-50: #fff0f1;
  --color-red-dark-100: #ffe2e5;
  --color-red-dark-200: #ffcad1;
  --color-red-dark-300: #ff9fac;
  --color-red-dark-400: #ff6980;
  --color-red-dark-500: #ff4d6d;
  --color-red-dark-600: #ed1143;
  --color-red-dark-700: #c80839;
  --color-red-dark-800: #a80936;
  --color-red-dark-900: #8f0c35;
  --color-red-dark-950: #500118;

  --color-yellow-light-50: #fef9e8;
  --color-yellow-light-100: #fef0c3;
  --color-yellow-light-200: #fee28a;
  --color-yellow-light-300: #fdd147;
  --color-yellow-light-400: #fac215;
  --color-yellow-light-500: #eab308;
  --color-yellow-light-600: #ca9a04;
  --color-yellow-light-700: #a17c07;
  --color-yellow-light-800: #85680e;
  --color-yellow-light-900: #715a12;
  --color-yellow-light-950: #423306;

  --color-yellow-dark-50: #fefae8;
  --color-yellow-dark-100: #fef5c3;
  --color-yellow-dark-200: #feec8a;
  --color-yellow-dark-300: #fde047;
  --color-yellow-dark-400: #fad615;
  --color-yellow-dark-500: #eac608;
  --color-yellow-dark-600: #caaa04;
  --color-yellow-dark-700: #a18807;
  --color-yellow-dark-800: #85720e;
  --color-yellow-dark-900: #716212;
  --color-yellow-dark-950: #423806;

  --color-blue-light-50: #f2f9fd;
  --color-blue-light-100: #e4f0fa;
  --color-blue-light-200: #c3e1f4;
  --color-blue-light-300: #8dcaec;
  --color-blue-light-400: #51afdf;
  --color-blue-light-500: #2991c8;
  --color-blue-light-600: #1b77ae;
  --color-blue-light-700: #175f8d;
  --color-blue-light-800: #175175;
  --color-blue-light-900: #194461;
  --color-blue-light-950: #102b41;

  --color-blue-dark-50: #f1f9fe;
  --color-blue-dark-100: #e1f1fd;
  --color-blue-dark-200: #bde3fa;
  --color-blue-dark-300: #74c7f5;
  --color-blue-dark-400: #41b4ef;
  --color-blue-dark-500: #189adf;
  --color-blue-dark-600: #0b7bbe;
  --color-blue-dark-700: #0a629a;
  --color-blue-dark-800: #0d537f;
  --color-blue-dark-900: #114669;
  --color-blue-dark-950: #0b2c46;

  --color-purple-light-50: #edf1ff;
  --color-purple-light-100: #dee5ff;
  --color-purple-light-200: #c4cdff;
  --color-purple-light-300: #a1adff;
  --color-purple-light-400: #7b81fe;
  --color-purple-light-500: #605cf8;
  --color-purple-light-600: #503eed;
  --color-purple-light-700: #402dcc;
  --color-purple-light-800: #382aa9;
  --color-purple-light-900: #312a85;
  --color-purple-light-950: #1e194d;

  --color-purple-dark-50: #f5f3ff;
  --color-purple-dark-100: #ece8ff;
  --color-purple-dark-200: #dbd5ff;
  --color-purple-dark-300: #b8a8ff;
  --color-purple-dark-400: #a288fd;
  --color-purple-dark-500: #8558fa;
  --color-purple-dark-600: #7635f2;
  --color-purple-dark-700: #6723de;
  --color-purple-dark-800: #561dba;
  --color-purple-dark-900: #481a98;
  --color-purple-dark-950: #2b0e67;
}
