@font-face {
  font-display: swap;
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/unbounded-v12-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v20-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/inter-v20-latin-600.woff2') format('woff2');
}

body {
  color: var(--text-primary);
  background-color: var(--surface-main);
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: var(--text-secondary);
  font-size: var(--font-body);
  white-space: pre-wrap;
}

a {
  text-decoration: none;
}

.text-display {
  color: var(--text-primary);
  font-family: var(--font-heading);
  font-size: var(--text-display);
}

.text-headline {
  color: var(--text-primary);
  font-family: var(--font-heading);
  font-size: var(--text-title);
}

.text-title {
  color: var(--text-primary);
  font-family: var(--font-body-lg);
  font-size: var(--text-title);
}

.text-subtitle {
  color: var(--text-primary);
  font-size: var(--text-subtitle);
  font-weight: var(--weight-medium);
}

.text-subtitle:not(.language) {
  color: var(--text-primary);
  font-family: var(--font-subheading);
}

.text-body-lg {
  color: var(--text-accent);
  font-family: var(--font-body-lg);
  font-size: var(--text-body-lg);
}

.text-label {
  color: var(--text-primary);
  font-family: var(--font-label);
  font-size: var(--text-label);
}

.section-inverted {
  background-color: var(--surface-inverted);
}

.section-inverted P {
  color: var(--text-inverted);
}
