:root {
  /* Text Color Light Mode */
  --text-primary: var(--color-gray-light-950);
  --text-secondary: var(--color-gray-light-900);
  --text-tertiary: var(--color-gray-light-600);
  --text-muted: var(--color-gray-light-400);
  --text-accent: var(--color-orange-light-500);
  --text-accent-on-dark: var(--color-orange-dark-500);
  --text-status: var(--color-green-light-600);
  --text-success: var(--color-green-light-700);
  --text-inverted: var(--color-gray-dark-200);

  /* Background Light Mode */
  --surface-main: var(--neutral-50);
  --surface-inverted: var(--neutral-900);

  /* Component Background Color Light Mode (ex.cta btn and tags) */
  --container-primary: var(--color-orange-light-500);
  --container-primary-hover: var(--color-orange-light-700);
  --container-secondary: var(--neutral-100);
  --container-tertiary: var(--neutral-800);
  --container-success: var(--color-green-light-200);

  /* Border Color Light Mode */
  --outline-primary: var(--color-gray-light-100);
  --outline-secondary: var(--color-gray-light-200);
  --outline-tertiary: var(--color-gray-light-300);
  --outline-muted: var(--color-gray-light-800);
  --outline-accent: var(--color-orange-light-400);
  --outline-success: var(--color-green-light-500);

  /* Font Style (unchanging regardless of theme) */
  --font-heading: var(--font-unbounded);
  --font-subheading: var(--font-unbounded);
  --font-body-lg: var(--font-inter);
  --font-body: var(--font-inter);
  --font-label: var(--font-inter);

  /* Font Size */
  --text-headline: clamp(var(--size-48), 5vw, var(--size-56));
  --text-display: clamp(var(--size-40), 6vw, var(--size-56));
  --text-title: var(--size-32);
  --text-subtitle: var(--size-24);
  --text-body-lg: var(--size-20);
  --text-body: var(--size-18);
  --text-label: var(--size-14);

  /* Font Weight */
  --weight-bold: 700;
  --weight-semibold: 600;
  --weight-medium: 500;
  --weight-regular: 400;

  /* Icon Size */
  --icon-xs: var(--size-12);
  --icon-sm: var(--size-16);
  --icon-md: var(--size-24);
  --icon-lg: var(--size-32);
  --icon-xl: var(--size-48);

  /* Spacing */
  --space-xs: var(--size-4);
  --space-sm: var(--size-8);
  --space-md: var(--size-16);
  --space-lg: var(--size-24);
  --space-xl: var(--size-32);
  --space-2xl: var(--size-48);

  /* Padding */
  --padding-x: clamp(1.5rem, 5vw, 4.375rem);
  --padding-y: clamp(2rem, 8vh, 5rem);
  --padding-x-fluid: clamp(1.5rem, 10vw, 8.75rem);
  --padding-y-fluid: clamp(2.5rem, 6vw, 5rem);

  /* Container Size */
  --container-max-width: 1000px;

  /* Corner Radius */
  --radius-sm: var(--size-4);
  --radius-md: var(--size-8);
  --radius-lg: var(--size-16);
  --radius-full: var(--size-round);

  /* Blur */
  --blur-subtle: blur(4px);
}

[data-bs-theme='dark'] {
  /* Text Color Dark Mode */
  --text-primary: var(--color-gray-dark-50);
  --text-secondary: var(--color-gray-dark-300);
  --text-tertiary: var(--color-gray-dark-500);
  --text-muted: var(--color-gray-dark-900);
  --text-accent: var(--color-orange-dark-500);
  --text-status: var(--color-green-dark-500);
  --text-success: var(--color-green-dark-300);

  /* Background Dark Mode */
  --surface-main: var(--neutral-900);
  --surface-inverted: var(--neutral-950);

  /* Component Background Color Dark Mode */
  --container-primary: var(--color-orange-dark-500);
  --container-primary-hover: var(--color-orange-dark-700);
  --container-secondary: var(--neutral-800);
  --container-tertiary: var(--neutral-800);
  --container-success: var(--color-green-dark-200);

  /* Border Color Light Mode */
  --outline-primary: var(--color-gray-dark-700);
  --outline-secondary: var(--color-gray-dark-500);
  --outline-tertiary: var(--color-gray-dark-950);
  --outline-muted: var(--color-gray-dark-700);
  --outline-accent: var(--color-orange-dark-500);
  --outline-success: var(--color-green-light-500);
}
